@font-face {
    font-family: Poppins;
    src: url(assets/Poppins-Regular.ttf);
}

body {
    width: 1000px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin: 0;
    overflow-x: hidden;
}

.container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.title-container {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-top: 35px;
}

.title {
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
}

.subtitle {
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.instructions {
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
