@font-face {
    font-family: Poppins;
    src: url(assets/Poppins-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Poppins;
    src: url(assets/Poppins-SemiBold.ttf);
    font-weight: bold;
    font-style: normal;
}

html {
    margin-top: 40px;
}

body {
    font-family: 'Poppins', Arial, sans-serif;
    width: 1000px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin: 0;
    overflow-x: hidden;
}

b, strong {
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.title-container {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-top: 35px;
}

.title {
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    padding-bottom: 15px;
}

.subtitle {
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 14px;
    width: 456px;
}

.instructions {
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.instructions-body {
    margin-left: 5px;
    width: 530px;
}
